<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reservations</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/app.css}" rel="stylesheet">
</head>
<body>

    <div class="main-container">
        <div class="header-container">
            <h3 class="header">RESERVATIONS</h3>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Pickup</th>
                <th scope="col">Dropoff</th>
                <th scope="col">Pickup Mileage</th>
                <th scope="col">Dropoff Mileage</th>
                <th scope="col">Status</th>
                <th scope="col">Vehicle ID</th>
                <th scope="col">#</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="reservation : ${reservations}">
                <tr>
                    <th scope="row" th:text="${reservation.getId()}" />
                    <td th:text="${reservation.getPickup()}"/>
                    <td th:text="${reservation.getDropoff()}"/>
                    <td th:text="${reservation.getPickupMileage()}"/>
                    <td th:text="${reservation.getDropoffMileage()}"/>
                    <td th:text="${reservation.getStatus()}"/>
                    <td th:text="${reservation.getVehicle().getId()}"/>
                    <td>
                        <a th:href="@{/reservations/{id}/cancel(id=${reservation.getId()})}" class="btn btn-sm btn-danger">CANCEL</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</body>
</html>